<h1>Index</h1>
<%= form_tag schools_path, method: 'get', role: 'search' do %>
  <%= text_field_tag :center, params[:center], class: 'form-control', id: 'center-map' %>
  <%= submit_tag 'Search', name: nil, class: 'btn btn-primary' %>
<% end %>
<div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>

<% @schools.each do |school| %>
  <li><strong><%= link_to school.name, school_path(school) %></strong> Lat: <%= school.latitude %>, Long: <%= school.longitude %></li>
<% end %>
<%= link_to 'Add a New School', new_school_path, class: 'btn btn-primary' %>

<script type="text/javascript">
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    markers = handler.addMarkers(<%= raw @hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
    handler.map.centerOn(<%= @center_on %>);
    handler.getMap().setZoom(12);
  });
</script>
